html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.grid {
  display: flex;
  min-height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid-item {
  margin: 2vh auto 0 auto;
  border: #bfac9b 0.5px solid;
  border-radius: 5px;
  display: flex;
  flex-basis: min(80vw, 1300px);
  flex-direction: column;
  justify-content: center;
}
