.grid {
  display: flex;
  min-height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid-item {
  display: flex;
  flex-basis: 48%;
  flex-direction: column;
  justify-content: center;
}

.canvas {
  margin: 2vh auto;
  border: lightgray 0.5px solid;
  border-radius: 5px;
}